@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }

    .custom-button {
        background-color: orange; /* Defina a cor de fundo desejada */
        color: white; /* Defina a cor do texto */
    }

    .custom-button:hover {
        background-color: darkorange; /* Cor ao passar o mouse */
    }